.clouds{
	width: 32%;
	display:inline-block;
}

.trees{
	margin: 0px auto;
	width: 80%;
}

/*cloud 1 */

#cloud1 {
	width: 320px; 
	height: 110px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
}

#cloud1:after, #cloud1:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
}

#cloud1:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud1:before {
	width: 160px; height: 160px;
	top: -90px; right: 50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.cloud1{
	margin: 100px 0px 100px 50px;
	display: inline-block;
}

/*cloud 2 */

#cloud2 {
	width: 290px;
  	height: 100px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
}

#cloud2:after, #cloud2:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
}

#cloud2:after {
	width: 80px;
  	height: 80px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud2:before {
	width: 130px;
  	height: 130px;
	top: -90px; right: 50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.cloud2{
	margin-left: 70px;
	margin-bottom: 180;
	display: inline-block;
}

/* cloud 3*/
#cloud {
	width: 350px; height: 120px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
}

#cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.cloud3{
  	margin-bottom: 20px;
	display: inline-block;
}

.swing{
	-moz-animation: 3s ease 0s normal none infinite swing;
    -moz-transform-origin: center top;
    -webkit-animation:swing 3s infinite ease-in-out;
    -webkit-transform-origin:top;
}

@-moz-keyframes swing{
    0%{-moz-transform:rotate(-3deg)}
    50%{-moz-transform:rotate(3deg)}
    100%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-3deg)}
    50%{-webkit-transform:rotate(3deg)}
    100%{-webkit-transform:rotate(-3deg)}
}

/* tree */

#tree{
	margin: 80px auto 0px;
	background-color: #AD855C;
	width:120px;
	height: 500px;
	position: relative;
	z-index: -1;
}

#branch:before {
	width: 100px;
	height: 90px;
	right: -44px;
	top: -90px;
	background: linear-gradient(315deg, transparent 30px, #AD855C 0) bottom right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

#branch:after {
	width: 100px;
	height: 200px;
	right: -44px;
	top: -90px;
	background: linear-gradient(135deg, transparent 40px, #AD855C 0) top left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

#branch:after, #branch:before {
	content: '';
	position: absolute;
}

/* branch 1 on the right */ 

#branch1:before {
	width: 100px;
	height: 90px;
	right: -74px;
	top: -120px;
	background: linear-gradient(315deg, transparent 30px, #AD855C 0) bottom right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

#branch1:after {
	width: 100px;
	height: 155px;
	right: -74px;
	top: -120px;
	background: linear-gradient(135deg, transparent 40px, #AD855C 0) top left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

#branch1:after, #branch1:before {
	content: '';
	position: absolute;
}

/* branch 2 on the left */

#branch2:before {
	width: 100px;
	height: 90px;
	left: -80px;
	top: -110px;
	background: linear-gradient(45deg,  transparent 40px, #AD855C 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

#branch2:after {
	width: 100px;
	height: 180px;
	left: -80px;
	top: -120px;
	background: linear-gradient(225deg, transparent 40px, #AD855C 0) top right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

#branch2:after, #branch2:before {
	content: '';
	position: absolute;
}

#branch2-cont:before {
	width: 100px;
	height: 90px;
	left: -50px;
	top: -80px;
	background: linear-gradient(45deg, transparent 40px, #AD855C 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

#branch2-cont:after {
	width: 100px;
	height: 200px;
	left: -50px;
	top: -90px;
	background: linear-gradient(225deg, transparent 40px, #AD855C 0) top right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

#branch2-cont:after, #branch2-cont:before {
	content: '';
	position: absolute;
}

#square:before{
	width:50px;
	height:50px;
	background-color: #AD855C;
	top: -34px;
  	right: 20px;
}

#square:before {
	content: '';
	position: absolute;
}

#roots{
	margin: 0px auto 20px;
	background-color: #AD855C;
	width: 300px;
	height: 40px;
	position: relative;
}

#roots:before {
	bottom: 0px;
	left: -80;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 50px solid #AD855C;
}

#roots:after {
	bottom: 0px;
	right: -80;
	width: 0;
	height: 0;
	border-left: 40px solid #AD855C;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #AD855C;
}

#roots:after, #roots:before {
	content: '';
	position: absolute;
}

#trunk:before {
	bottom: 40px;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 140px solid transparent;
	border-bottom: 28px solid #AD855C;
}

#trunk:after {
	width: 50px;
	height: 60px;
	top: -60px;
	right: -40px;
	background-image: radial-gradient(circle at 100% 0, rgba(204,0,0,0) 60px, #AD855C 15px);
}

#trunk:after, #trunk:before {
	content: '';
	position: absolute;
}

#curves:before {
	width: 40px; 
	height: 40px;
	top: -34px;
  	left: 76px;
	background-image:radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #AD855C 15px);
}

#curves:after {
	bottom: 40px;
	right: 10px;
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 28px solid #AD855C;
	border-bottom: 28px solid #AD855C;
}

#curves:after, #curves:before {
	content: '';
	position: absolute;
}

#green-shades{
	margin: 0px auto;
	width: 500px;
	height: 500px;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
	background: #A3C266;
    position: relative;
}

#green-shades:after, #green-shades:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-shades:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-shades:before {
	width: 160px; height: 160px;
	top: -20px; right: 50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles:after {
	width: 100px; height: 100px;
	top: -50px; left: 125px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles:before {
	width: 160px; height: 160px;
	top: -70px; right: 125px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles:after, #green-circles:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles1:after {
	width: 120px; height: 120px;
	top: -20px; left: 10px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles1:before {
	width: 160px; height: 160px;
	top: 0px; right: 0px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles1:after, #green-circles1:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles2:after {
	width: 120px; height: 120px;
	top: 20px; left: -10px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles2:before {
	width: 160px; height: 160px;
	top: 0px; right: -30px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles2:after, #green-circles2:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles3:after {
	width: 160px; height: 160px;
	top: 60px; left: -100px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles3:before {
	width: 160px; height: 160px;
	top: 140px;
  	right: -100px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles3:after, #green-circles3:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles4:after {
	width: 160px; height: 160px;
	top: 150px; left: -60px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles4:before {
	width: 120px; height: 120px;
	top: 90px;
  	right: -50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles4:after, #green-circles4:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles5:after {
	width: 160px; height: 160px;
	top: 170px; left: -120px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles5:before {
	width: 140px;
	height: 140px;
	top: 280px;
	right: -100px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles5:after, #green-circles5:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles6:after {
	width: 160px; height: 160px;
	top: 240px;
  	left: -90px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles6:before {
	width: 120px; height: 120px;
	top: 310px;
  	right: -80px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles6:after, #green-circles6:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles7:after {
	width: 160px; height: 160px;
	top: 330px;
  	left: -50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles7:before {
	width: 180px; height: 180px;
	top: 350px;
  	right: -50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles7:after, #green-circles7:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles8:after {
	width: 160px; height: 160px;
	top: 370px;
  	left: -10px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles8:before {
	width: 180px; height: 180px;
	top: 380px;
  	right: -10px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles8:after, #green-circles8:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}

#green-circles9:after {
	width: 160px; height: 160px;
	top: 390px;
  	left: 80px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#green-circles9:before {
	width: 180px; height: 180px;
	top: 400px;
  	right: 100px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

#green-circles9:after, #green-circles9:before {
	content: '';
	position: absolute;
	background: #A3C266;
	z-index: -1;
}